<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   {% load static %}
   <link rel="stylesheet" href="{% static 'design.css' %}">
</head>
<body>
    
 
    
  {% if user.is_authenticated %}
  
    <div class="ball1"></div>
    <div  class="ball2"></div>
    <div class="ball3"></div>
    <div class="ball4"></div>
    <div class="ball5"></div>
    <div class="ball6"></div>
    <div class="ball7"></div>

    
    <h3><a href="{% url 'home' %}" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 2rem;">Play Agian</a></h3>
    <div class="certificate"><h1>certificate</h1><br>
    <p class="cer_text"> {{user.username}} you have completed all 
        stages successesfully  with {{score}} score. Thanks for proving nothing is immpossible</p></div>
        

<!--This is for rigthside blow----------------------------------------->
<div  class="ball1_2"></div>
<div class="ball2_2"></div>
<div class="ball3_2"></div>
<div class="ball4_2"></div>
<div class="ball5_2"></div>
<div class="ball6_2"></div>
<div class="ball7_2"></div>
<div class="ball8_2"></div> 
{% else %}
<h1>You are allowed here</h1>   
{% endif %}    
</body>
</html>